@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<p>
    <strong>
        We have been offering tailor-made executive vehicle parking services since 2010.
        Our ever-growing list of customers is a testimony to our excellent service and commitment to
        quality.
        We tailor the parking service to your individual needs and can accommodate
        vehicles of various sizes.
    </strong>
</p>


<p>
    <ul>
        Our list of services include:
        <li>Long- or Short term parking</li>
        <li>Lock-up and go facilities</li>
        <li>Valet service</li>
        <li>Security personnel</li>
    </ul>
</p>
<p>
    @Html.ActionLink("Contact us", "Contact")  
     
</p>