@{
    ViewBag.Title = "Assistance available 24 / 7";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Success Lane<br />
    Silicon Valley, CA 94301<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:TalebM@garage.com">TalebM@garage.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:DeidreF@garage.com">DeidreF@garage.com</a>
</address>