@{
    ViewBag.Title = "Assistance available 24 / 7";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<h3>Contact us to arrange a tailor-made parking service today.</h3>

<address>
    
        1 Success Lane<br />
        Silicon Valley, CA 94301<br />

        <i class="glyphicon glyphicon-phone-alt">
            <strong> 070 555 0100</strong>
        </i>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:TalebM@garage.com">TalebM@garage.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:DeidreF@garage.com">DeidreF@garage.com</a>
</address>