@model MVC_GarageApp.Models.ParkedVehicle

@{
    ViewBag.Title = "Boat";
}


<h2>Parking your Boat with us</h2>

<h3>Long-term parking</h3>
<p>
    We can tailor the service to your specific needs.
    /nLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
    /nCum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    /nDonec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
</p>

<h3>Security service</h3>
<p>
    /nLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
    /nCum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    /nDonec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
</p>
