@model MVC_GarageApp.Models.ParkedVehicle

@{
    ViewBag.Title = "CarInfo";
}


<h2>Parking your Car with us</h2>

<h3>Hourly and Daily rates</h3>
<p>
    Prices start from as little as 500kr per hour.
    /nLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
    /nCum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    /nDonec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
</p>

<h3>Long-term parking</h3>
<p>
    We can tailor the service to your specific needs.
    /nLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
    /nCum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    /nDonec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
</p>

